:root {
  --purple: #ae4bd8;
  --violet: #d085ee;
  --pink: #ff4ed3;
}

html {
  background-color: rgb(10, 10, 10);
  color: white;
  user-select: none;
  -webkit-user-select: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 50px;
  font-size: 1.25rem;
  margin-bottom: 50px;
}

header > h1 {
  user-select: none;
}

.word {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  user-select: auto;
  font-family: "Space Mono", monospace;
}

.info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: gray;
  transition: all 0.5s ease-in-out;
  margin: 0;
  padding: 200px;
  padding-top: 0px;
  line-height: 1.5em;
}

@media screen and (max-width: 900px) {
  .info {
    font-size: 5vw;
    padding: 75px;
    padding-top: 0px;
  }
}

.info:hover {
  color: white;
}

.magic {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magic > .text {
  height: 100%;
  text-align: center;
  font-size: 4rem;
  animation: background-pan 4s linear infinite;
  transition: 0.5s ease-in-out;
  padding: 20px;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 50%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  opacity: 60%;
  user-select: all;
  height: 4rem;
}

.magic > .text:hover {
  /* font-size: 5rem; */
  transition: 0.5s ease-in-out;
  opacity: 100%;
  /* height: 5rem; */
}

.arrow {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-size: 40px;
}

.arrow:hover {
  transform: scale(1.2);
}

.headerLeft,
.headerRight {
  width: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerLeft {
  justify-content: flex-end;
}

.headerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 400px;
}

@media screen and (max-width: 800px) {
  .headerCenter {
    width: 300px;
  }

  .magic > .text {
    font-size: 2.5rem;
  }
}
