:root{
    --purple: #8e44ad;
    --violet: #d085ee;
    --pink: #ff4ed3;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: 100% center;
    }
}

@keyframes move-twinkle-back{
    from{background-position: 0 0;}
    to{background-position: -10000px 5000px;}
}

html{
    background-color: rgb(10, 10, 10);
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars, .twinkling{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars{
    background: black
    url("./components/stars.png") repeat top center;
    z-index: -3;
}

.twinkling
{
    background: transparent url(./components/twinkling.png) repeat top center;
    z-index: -2;
    animation: move-twinkle-back 200s linear infinite;
}

.blocker1, .blocker2{
    width: 50%;
    height: 100vh;
    background-color: black;
    position: absolute;
    transition: 2s ease-in-out;
}

.blocker1{
    left: 0;
}

.blocker2{
    right: 0;
}

.blocker1Remove{
    opacity: 0;
}

.blocker2Remove{
    opacity: 0;
}

.word {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    color: gray;
    transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 200px;
    padding-top: 0px;
    line-height: 1.5em;
}

.info:hover {
    color: white;
}

.important{
    height: 6rem;
}

.magic > .text {
    height: 100%;
    text-align: center;
    font-size: 4rem;
    animation: background-pan 10s linear infinite;
    transition: .5s ease-in-out;
    padding: 20px;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 50%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    opacity: 60%;
}

.magic > .text:hover {
    font-size: 5rem;
    transition: .5s ease-in-out;
    opacity: 100%;
}

.important > .star{



}